<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <title>Cesar's Cipher</title>
</head>
<body>
  <h1>Cesar's Cipher</h1>
  <p>Hello, Norbert here.</p>
  <p> The point of this program is to encript or decode a message for you. <br>
      To do this I need two things: a message and a key <br>
      Keep in mind that your key should be a number between 1 and 26</p>
  <form>
    <label for="encode">Message to encript</label>
    <input type="text" name="encript">
    <label for="key">Key</label>
    <input type="number" name="key" min="1" max="26">
    <input type="submit" value="Encript!">
  </form>
</body>
</html>