<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <title>Cesar's Cipher</title>
</head>
<body>
  <h1>Cesar's Cipher</h1>
  <p>Protecting your privacy since XLIX BC<p>
  <p>
    In order to encript or decript your message <br>
    You must provide two things: the <strong>message</strong> and a <strong>key</strong>. <br>
    Keep in mind that your key should be a number between 1 and 26.
  </p>
  <form>
    <label for="encode">Message to encript</label>
    <input type="text" name="encript">
    <label for="key">Key</label>
    <input type="number" name="key" min="1" max="26">
    <label for="method"></label><br>
    Encript <input type="radio" name="method" value="encript">
    Decript <input type="radio" name="method" value="decript"><br>
    <input type="submit" value="Submit">
  </form>
  <% unless message.nil? %>
  <h3>Secret Message</h3>
  <p><%= message %></p>      
  <% end %>
  
</body>
</html>